body {
    font-family: Arial, sans-serif;
}

body {
    background: #E9ECF3;
}
.uk-navbar {
	background: transparent;
}
#offNav {
	text-align: center;
}
#offNav a {
	color:white;
}
#offNav li {
	width: 100%;
}
#offNav li:hover a {
	color:#333333;
}
#offNav .uk-dropdown {
	background-color: black;
}
#offNav .uk-dropdown li a {
	color:white;
}